<div id="myTabContent" class="tab-content p-2 pt-3 p-lg-4">
  <div class="tab-pane fade active show" id="allIssue" role="tabpanel">
    <div class="row">
      <% for(let issue of project.issues) { %>
      <div class="col-md-6">
        <div class="card mb-3 rounded">
          <h3 class="card-header row g-2 flex-wrap fs-5">
            <% for(let lab of issue.labels) { %>
            <div class="col-auto">
              <span class="badge rounded-pill bg-danger p-2"><%= lab %></span>
            </div>
            <% } for(let key of issue.keywords) { %>
            <div class="col-auto">
              <span class="badge rounded-pill bg-info p-2"><%= key %></span>
            </div>
            <% } %>
          </h3>
          <div class="card-body">
            <h5 class="card-title fs-3"><%= issue.title %></h5>
            <h6 class="card-subtitle text-muted fs-5"><%= issue.author %></h6>
            <p class="card-text mt-3"><%= issue.description %></p>
          </div>

          <div class="container mb-3">
            <a
              href="/project/issue/delete/<%= issue._id %>"
              class="btn btn-danger"
              >Delete</a
            >
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <div class="tab-pane fade" id="filterIssue" role="tabpanel">
    <div class="d-flex align-items-center flex-column mt-4 mb-3">
      <form action="/" class="" method="get" id="filter-issue-form">
        <div class="form-group d-flex gap-5">
          <label for="checkLabels" class="form-label">Select Labels</label>
          <div class="d-flex gap-4 flex-wrap">
            <div class="form-check">
              <input
                class="form-check-input"
                name="labels"
                type="checkbox"
                value="Bug"
                id="bug"
              />
              <label class="form-check-label" for="bug"> Bug </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                name="labels"
                type="checkbox"
                value="UI Improvement"
                id="ui-improvement"
              />
              <label class="form-check-label" for="ui-improvement">
                UI Improvement
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                name="labels"
                type="checkbox"
                value="Documentation"
                id="documentation"
              />
              <label class="form-check-label" for="documentation">
                Documentation
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                name="labels"
                type="checkbox"
                value="Enhancement"
                id="enhancement"
              />
              <label class="form-check-label" for="enhancement">
                Enhancement
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                name="labels"
                type="checkbox"
                value="Duplicate"
                id="duplicate"
              />
              <label class="form-check-label" for="duplicate">
                Duplicate
              </label>
            </div>
            <%let i = 0; %> <% for( let key of project.keywords) { %>
            <div class="form-check">
              <input
                class="form-check-input"
                name="labels"
                type="checkbox"
                value="<%= key %>"
                id="key-<%= key %>-<%= i %>"
              />
              <label class="form-check-label" for="<%= key %>-<%= i %>">
                <%= key %>
              </label>
            </div>
            <% i++; %> <% } %>
          </div>
        </div>
        <div class="form-group d-flex gap-5 mt-4">
          <label for="authors" class="form-label">Select Author</label>
          <div class="d-flex gap-4 flex-wrap">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="author"
                id="null"
                value=""
                checked=""
              />
              <label class="form-check-label" for="null"> No </label>
            </div>
            <% let encounteredAuthors = new Set(); %> <% for( let issue of
            project.issues ) { %> <% if (!encounteredAuthors.has(issue.author))
            { %>
            <div class="form-check">
              <input
                class="form-check-input"
                name="author"
                type="radio"
                value="<%= issue.author %>"
                id="<%= issue.author %>"
              />
              <label class="form-check-label" for="<%= issue.author %>">
                <%= issue.author %>
              </label>
            </div>
            <% encounteredAuthors.add(issue.author); %> <% } %> <% } %>
          </div>
        </div>
        <div class="mt-4">
          <button type="submit" class="btn btn-info">Filter Issue</button>
        </div>
      </form>
    </div>
    <div id="issues-list" class="row"></div>
  </div>

  <div class="tab-pane fade" id="searchIssue" role="tabpanel">
    <div class="mb-3">
      <form action="/" method="get" class="" id="search-issue-form">
        <div class="form-group row mt-4">
          <label for="title" class="form-label col-sm-3">Title</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="title"
              name="tie"
              aria-describedby="titleHelp"
              placeholder="Enter Title"
            />
            <small id="titleHelp" class="form-text text-muted"
              >Enter relevent Keyword to search through titles.</small
            >
          </div>
        </div>
        <div class="form-group row mt-4">
          <label for="description" class="form-label col-sm-3"
            >Description</label
          >
          <div class="col-sm-9">
            <input
              type="text"
              name="des"
              class="form-control"
              id="description"
              aria-describedby="descriptionHelp"
              placeholder="Enter description"
            />
            <small id="descriptionHelp" class="form-text text-muted"
              >Enter relevent Keyword to search through descriptions.</small
            >
          </div>
        </div>
        <div class="mt-4">
          <button type="submit" class="btn btn-info">Search Issue</button>
        </div>
      </form>
    </div>
    <div id="search-issues-list" class="row"></div>
  </div>
</div>
<div id="issue-data" data="<%=JSON.stringify(project.issues)%>"></div>
<script src="/assets/filterIssues.js"></script>
<script src="/assets/searchIssues.js"></script>
