<div id="myTabContent" class="tab-content p-2 pt-3 p-lg-4">
  <div class="tab-pane fade active show" id="allIssue" role="tabpanel">
    <div class="row">
      <% for(let issue of project.issues) { %>
      <div class="col-md-6">
        <div class="card mb-3 rounded">
          <h3 class="card-header row g-2 flex-wrap fs-5">
            <% for(let lab of issue.labels) { %>
            <div class="col-auto">
              <span class="badge rounded-pill bg-danger p-2"><%= lab %></span>
            </div>
            <% } for(let key of issue.keywords) { %>
            <div class="col-auto">
              <span class="badge rounded-pill bg-info p-2"><%= key %></span>
            </div>
            <% } %>
          </h3>
          <div class="card-body">
            <h5 class="card-title fs-3"><%= issue.title %></h5>
            <h6 class="card-subtitle text-muted fs-5"><%= issue.author %></h6>
            <p class="card-text mt-3"><%= issue.description %></p>
          </div>

          <div class="container mb-3">
            <a
              href="/project/issue/delete/<%= issue._id %>"
              class="btn btn-danger"
              >Delete</a
            >
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <div class="tab-pane fade" id="filterIssue" role="tabpanel">
    <div class="d-flex align-items-center flex-column mt-4">
      <form action="" class="" method="post">
        <div class="form-group d-flex gap-5">
          <label for="checkLabels" class="form-label">Select Labels</label>
          <div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Bug
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                UI Component
              </label>
            </div>
          </div>
        </div>
        <div class="form-group d-flex gap-5 mt-4">
          <label for="authors" class="form-label">Select Author</label>
          <div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="optionRadios"
                id="optionRadios1"
                value="option1"
                checked=""
              />
              <label class="form-check-label" for="optionRadios1">
                Author1
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                name="optionRadios"
                type="radio"
                value=""
                id="optionRadios2"
              />
              <label class="form-check-label" for="optionRadios1">
                Author2
              </label>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <button type="submit" class="btn btn-info">Filter Issue</button>
        </div>
      </form>
    </div>
  </div>

  <div class="tab-pane fade" id="searchIssue" role="tabpanel">
    <div class="">
      <form action="" method="POST" class="">
        <div class="form-group row mt-4">
          <label for="title" class="form-label col-sm-3">Title</label>
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="title"
              aria-describedby="titleHelp"
              placeholder="Enter Title"
            />
            <small id="titleHelp" class="form-text text-muted"
              >Enter relevent Keyword to search through titles.</small
            >
          </div>
        </div>
        <div class="form-group row mt-4">
          <label for="description" class="form-label col-sm-3"
            >Description</label
          >
          <div class="col-sm-9">
            <input
              type="text"
              class="form-control"
              id="description"
              aria-describedby="descriptionHelp"
              placeholder="Enter description"
            />
            <small id="titleHelp" class="form-text text-muted"
              >Enter relevent Keyword to search through descriptions.</small
            >
          </div>
        </div>
        <div class="mt-4">
          <button type="submit" class="btn btn-info">Search Issue</button>
        </div>
      </form>
    </div>
  </div>
</div>
