<div class="my-5 text-center">
  <p class="display-4 text-info">Projects</p>
</div>

<div class="table-responsive">
  <table class="table table-strpied overflow-auto mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title of Project</th>
        <th scope="col">Author</th>
        <th scope="col" style="width: 250px">Description</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% for( let project of projects ) { %>
      <tr>
        <th scope="row">1</th>
        <td><%= project.title %></td>
        <td><%= project.author %></td>
        <td class="d-inline-block text-truncate" style="width: 250px">
          <%= project.description %>
        </td>
        <td class="text-center">
          <a
            href="/project/<%= project._id %>"
            class="btn btn-block btn-primary"
            >View</a
          >
        </td>
        <td class="text-center">
          <a
            href="/project/delete/<%= project._id %>"
            class="btn btn-block btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
