<!-- Project Details -->
<div class="mt-5"></div>
<%- include("./partials/messages"); %>

<div class="card mt-4 border-secondary rounded p-2 p-lg-4">
  <div class="card-body">
    <h4 class="card-title display-4 mb-2"><%= project.title %></h4>
    <h6 class="card-subtitle mb-2 text-muted fs-4 mb-5">
      <%= project.author %>
    </h6>
    <p class="card-text"><%= project.description %></p>
  </div>
</div>

<!-- Issue Tabs -->

<div class="mt-4">
  <ul class="nav nav-tabs ps-2 ps-lg-4" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        data-bs-toggle="tab"
        href="#allIssue"
        aria-selected="false"
        role="tab"
        tabindex="-1"
        >All Issues</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        data-bs-toggle="tab"
        href="#filterIssue"
        aria-selected="true"
        role="tab"
        >Filter Issues</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        data-bs-toggle="tab"
        href="#searchIssue"
        aria-selected="true"
        role="tab"
        >Search Issues</a
      >
    </li>
  </ul>
</div>

<%- include ("./partials/issue-form.ejs"); %> <%- include
("./partials/issues.ejs"); %>
